@use "@styles/breakpoint";
@use "@styles/mixins";

.container {
  position: sticky;
  top: 0;
  @include mixins.container(3);
  display: flex;
  flex-direction: column;
  align-content: space-around;
  justify-content: center;
  color: var(--rust);
}

.info {
  text-align: center;
  font-family: var(--font-names);
  margin-bottom: 1rem;
  .names {
    font-size: 5rem;
  }
  .date {
    font-size: 3rem;
  }
}

.skipToContentLink {
  color: var(--black);
  background: var(--white);
  left: 50%;
  top: -100%;
  padding: 0.5rem 1rem;
  position: absolute;
  transform: translate(-50%, -100%);
  opacity: 0;
  transition: transform 0.3s, opacity 0.3s;
  z-index: 100;
  text-decoration: none;
  white-space: nowrap;
  text-align: center;
  font-size: 1.2rem;
  line-height: 1;
  font-family: var(--font-body);
  letter-spacing: normal;
  cursor: pointer;
  &:link,
  &:visited {
    text-decoration: none;
  }
  &:focus {
    text-decoration: none;
    opacity: 1;
    transform: translate(-50%, calc(100% + 60px));
  }

  &:hover {
    text-decoration: underline;
  }
}
