@use "@styles/breakpoint";
@use "@styles/mixins";

.header {
  background-color: var(--bg-pink);
  z-index: 2049;
}

.container {
  display: flex;
  flex-direction: column;
  align-content: space-around;
  justify-content: center;
  color: var(--rust);
  position: relative;
  @include mixins.container(1.5);
  @media (min-width: breakpoint.$md) {
    @include mixins.container(3);
  }
  @media (min-width: breakpoint.$xl) {
    @include mixins.container(3, --size-xxl);
  }
}

.info {
  text-align: center;
  font-family: var(--font-names);
  margin-bottom: 1rem;
  font-weight: normal;
  margin-top: 2rem;
  @media (min-width: breakpoint.$sm) {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .line {
    height: 100px;
    width: 1px;
    border-left: 1px solid var(--rust);
    margin: 0 4rem;
    display: none;
    @media (min-width: breakpoint.$sm) {
      display: block;
    }
  }
  .names {
    font-size: 4rem;
    margin-bottom: 0;
    @media (min-width: breakpoint.$md) {
      margin-bottom: 1.5rem;
      font-size: 6rem;
    }
  }
  .date {
    font-size: 3rem;
    @media (min-width: breakpoint.$sm) {
      font-size: 4rem;
    }
    @media (min-width: breakpoint.$md) {
      font-size: 6rem;
    }
  }
}

.navWrapper {
  z-index: 10000;
  background-color: var(--bg-pink);
  position: relative;
  width: 100%;
  padding-top: 1rem;
  padding-bottom: 1rem;
  top: 0;
  left: 0;
  right: 0;
  display: none;
  @media (min-width: breakpoint.$sm) {
    border-bottom: 1px solid transparent;
    display: block;
  }
}

.skipToContentLink {
  color: var(--black);
  background: var(--white);
  left: 50%;
  top: -100%;
  padding: 0.5rem 1rem;
  position: absolute;
  transform: translate(-50%, -100%);
  opacity: 0;
  transition: transform 0.3s, opacity 0.3s;
  z-index: 100;
  text-decoration: none;
  white-space: nowrap;
  text-align: center;
  font-size: 1.2rem;
  line-height: 1;
  font-family: var(--font-body);
  letter-spacing: normal;
  cursor: pointer;
  &:link,
  &:visited {
    text-decoration: none;
  }
  &:focus {
    text-decoration: none;
    opacity: 1;
    transform: translate(-50%, calc(100% + 60px));
  }

  &:hover {
    text-decoration: underline;
  }
}
