@use "@styles/breakpoint";
@use "@styles/mixins";

.homeSwiper {
  margin: var(--spacing-section) 0;
  img {
    user-drag: none;
    user-select: none;
  }
}

.arrow {
  margin: 2rem 5rem 0;
  display: flex;
  justify-content: center;
}
