@use "@styles/breakpoint";

.nav {
  display: none;
  visibility: hidden;
  width: 100%;
  max-width: 100vw;
  background: var(--bg-light-three);
  z-index: 0;
  position: fixed;
  left: 0;
  right: 0;
  top: 139px;
  bottom: 0;
  padding-top: 1.5rem;
  overflow-y: scroll;
  &.isOpen {
    visibility: visible;
    display: flex;
  }
}
