@use "@styles/breakpoint";
@use "@styles/mixins";

.nav {
  display: none;
  @media (min-width: breakpoint.$sm) {
    display: block;
  }
}

.items {
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  @media (min-width: breakpoint.$sm) {
    flex-direction: row;
    padding: 0 2rem;
  }
}

.navLink {
  font-size: 1.25rem;
  text-transform: uppercase;
}

.toggle {
  background-color: var(--white);
  display: block;
  position: fixed;
  bottom: 3rem;
  margin: 0 auto;
  left: 0;
  right: 0;
  width: 50px;
  height: 50px;
  z-index: 5000;
  @media (min-width: breakpoint.$sm) {
    display: none;
  }
}
