@use "./mixins";
@use "./breakpoint";
@import "./reset";
@import "./typography";

@font-face {
  font-family: "Serenity";
  src: url("/fonts/Serenity.ttf");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: url("/fonts/Roboto-Regular.ttf");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: url("/fonts/Roboto-Bold.ttf");
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: url("/fonts/Roboto-Italic.ttf");
  font-style: italic;
  font-weight: 400;
  font-display: swap;
}

:root {
  --black: #222425;
  --white: #fff;

  --bg-pink: #e8ddd6;
  --rust: #cd6647;
  --lite-green: #c4d0cc;

  --size-xs: 32rem;
  --size-sm: 48rem;
  --size-md: 64rem;
  --size-lg: 80rem;
  --size-xl: 87rem;
  --size-xxl: 95rem;

  --image-aspect-ratio-xxs: 100%;
  --image-aspect-ratio-xs: 100%;
  --image-aspect-ratio-sm: 100%;
  --image-aspect-ratio-md: 100%;
  --image-aspect-ratio-lg: 56.25%;
  --image-aspect-ratio-xl: 56.25%;
  --image-aspect-ratio-xxl: 56.25%;

  --spacing-section: 4rem;
  @media (min-width: breakpoint.$md) {
    --spacing-section: 6rem;
  }
  @media (min-width: breakpoint.$lg) {
    --spacing-section: 8rem;
  }

  --font-body: "roboto", -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu,
    Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  --font-names: "serenity", cursive;
  --font-regular: 400;
  --font-bold: 700;
  --font-extrabold: 800;

  --font-size-smallest: 0.75rem;
  --font-size-smaller: 0.875rem;
  --font-size-normal: 1rem;
  --font-size-larger: 1.375rem;
  --font-size-largest: 1.5rem;
  --font-size-h1: clamp(3rem, 7.8vw - 1.2rem, 5.75rem);
  --font-size-h2: clamp(3rem, 7.8vw - 1.2rem, 3rem);
  --font-size-h3: clamp(2rem, 6.3vw - 1.5rem, 2rem);
  --font-size-h4: clamp(2rem, 6.3vw - 1.5rem, 1.375rem);
}

html,
body {
  background-color: var(--bg-pink);
  padding: 0;
  margin: 0;
  font-family: var(--font-body);
  font-weight: var(--font-regular);
  -webkit-tap-highlight-color: transparent;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.js-focus-visible :focus:not(.focus-visible) {
  outline: none;
}

[data-js-focus-visible] :focus:not([data-focus-visible-added]) {
  outline: none;
}

.focus-visible {
  outline-offset: 0.25rem;
  outline: 0.25rem;
  outline-style: auto;
}

// reset button styles
button,
input[type="submit"] {
  display: inline-block;
  border: none;
  cursor: pointer;
  text-align: center;
  -webkit-appearance: none;
  -moz-appearance: none;
  color: var(--black);
  background-color: transparent;
}

.swiper-wrapper {
  align-items: center;
}
