:root {
  --black: #000;
  --white: #fff;

  --size-xs: 51.2rem;
  --size-sm: 76.8rem;
  --size-md: 102.4rem;
  --size-lg: 128rem;
  --size-xl: 144rem;
  --size-xxl: 168rem;

  --image-aspect-ratio-xxs: 100%;
  --image-aspect-ratio-xs: 100%;
  --image-aspect-ratio-sm: 100%;
  --image-aspect-ratio-md: 100%;
  --image-aspect-ratio-lg: 56.25%;
  --image-aspect-ratio-xl: 56.25%;
  --image-aspect-ratio-xxl: 56.25%;

  --spacing-section: 8rem;

  --font-body: "roboto", -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu,
    Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  --font-regular: 400;
  --font-bold: 700;
  --font-extrabold: 800;
}
