@use "@styles/breakpoint";
@use "@styles/mixins";

.container {
  @include mixins.container(1.5);
  @media (min-width: breakpoint.$md) {
    @include mixins.container(3);
  }
  @media (min-width: breakpoint.$xl) {
    @include mixins.container(3, --size-xl);
  }
}

.main {
  min-height: 100vh;
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.names {
  font-family: var(--font-names);
  font-weight: 400;
  font-size: 10rem;
}

.date {
  font-size: 6rem;
  font-family: var(--font-names);
  font-weight: 400;
}
