@use "@styles/breakpoint";
@use "@styles/mixins";

.container {
  @include mixins.container(1.5);
  @media (min-width: breakpoint.$md) {
    @include mixins.container(3);
  }
  @media (min-width: breakpoint.$xl) {
    @include mixins.container(3, --size-xl);
  }
}

.header {
  text-align: center;
  margin: var(--spacing-section) 0;
  h1 {
    font-family: var(--font-names);
    color: var(--green);
    font-weight: 400;
  }
}

.wip {
  font-size: var(--font-size-h4);
  text-align: center;
  margin-top: 6rem;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5rem;
  margin-top: var(--spacing-section);
  @media (min-width: breakpoint.$md) {
    gap: 10rem;
  }
  .group {
    justify-content: center;
    align-items: center;
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
    margin-inline: auto;
    @media (min-width: breakpoint.$md) {
      grid-template-columns: 325px 5rem 325px;
    }
    h2 {
      color: var(--green);
      font-family: var(--font-names);
      font-size: calc(var(--font-size-h2) * 1.5);
      text-align: center;
      font-weight: 400;
      margin-top: 0;
      @media (min-width: breakpoint.$md) {
        text-align: right;
      }
    }
    li {
      color: var(--black);
      margin-bottom: 2rem;
      text-align: left;
      padding: 0 2rem;
    }
  }
}

.divider {
  width: 1px;
  height: 100%;
  background-color: var(--rust);
  margin: 0 auto;
  display: none;
  @media (min-width: breakpoint.$md) {
    display: block;
  }
}
